html, body {
    height: 100%;
    width: 100%;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

main {
    background-color: #fff;
    padding: 2% 1%;
    height: auto;
    width: 100%;
    margin-bottom: 80px;
}


.fb-message {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    display: none;
}

.logo-img {
    height: 39.42px;
    margin-top: 0px;
}

.div-group {
    width: 100%;
}

.div-form-group {
    margin-top: 10px;
    max-width: 450px;
    background-color: #fff;
    border-radius: 2%;
    width: 100%;
}

.right-side {
    max-width: 450px;
}

.btn-login {
    font-size: 17px;
    font-weight: 600;
}

.input-txt {
    font-size: 14px;
    padding: 10px 16px;
    background-color: #F5F6F7;
}

.input-txt::placeholder {
    color: #88928e;
}

.forgot-pass-txt {
    text-decoration: none;
    font-size: 14px;
}

.forgot-pass-txt:hover {
    text-decoration: underline !important;
}

hr {
    margin-top: 0;
    margin-bottom: 25px
}

.mobile-hr hr {
    color: #4B4F56;
    border-bottom: #4B4F56 solid 1px;
}

.desktop-hr {
    display: none;
}

.or-txt {
    margin-top: -42px;
    padding: 5px;
    color: #4B4F56;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    width: 30px;
    z-index: 999;
}

.btn-success {
    border-color: #bec3c9;
    background-color: #fff;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    margin-bottom: 8px;
    margin-top: 0px;
    width: 80%;
}

.btn-success:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.create-page {
    display: none;
}

.create-page a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.desktop-view {
    display: none;
}

@media only screen and (min-width: 1024px) {
    main {
        background-color: #f0f2f5;
        padding: 12% 3%;
        height: 96%;
    }

    .div-group {
        width: 90%;
        justify-content: center;
        
    }

    .left-side {
        display: block !important;
        max-width: 548px;
        margin-top: 3rem !important;
    }

    .right-side {
        display: inline-block !important;
    }

    .logo-img {
        height: 105px;
        max-height: 105px;
        max-width: 300px;
        margin-top: 15px;
    }

    .fb-message {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        display: flex;
    }

    .div-form-group {
        max-width: 396px;
        background-color: #fff;
        padding: 4%;
        margin-left: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }

    .input-txt {
        font-size: 17px;
        padding: 12px 16px;
        background-color: #fff;
        margin-bottom: 12px;
    }

    .btn-login {
        font-size: 20px;
        font-weight: 700;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .btn-success {
        background-color: #42B72A;
        font-size: 17px;
        font-weight: 600;
        padding: 10px 14px;
        margin-bottom: 8px;
        color: #fff;
        width: auto;
    }

    .btn-success:hover {
        color: #fff !important;
        background-color: #39a724 !important;
    }

    .create-page {
        font-size: 14px;
        display: block !important;
        max-width: 396px;
    }

    .create-link:hover {
        text-decoration: underline;
    }

    .create-page-div {
        margin-left: 50px;
    }

    .mobile-view {
        display: none;
    }

    .desktop-view {
        display: block;
    }

    
    .mobile-hr {
        display: none;
    }

    .desktop-hr {
        margin-top: 10px;
        display: block;
    }
}

footer {
    height: 150px;
    width: 100%;
}

footer .dot {
    font-size: 14px;
    color: #000;
    margin: 10px 5px;
}

.mobile-view {
    width: 100%;
    margin-bottom: 20px;
}

.mobile-view ul li{
    font-size: 12px;
    list-style-type: none;
    color: #576B95;
}

.plus-btn{
    border-radius: 20%;
    border: #576B95 solid 1px;
    font-size: 13px;
    font-weight: 800;
    color: #808080;
    background-color: #fff !important;
}

.mobile-view .current{
    font-weight: 700;
    color: #90949C;
}

.about-txt {
    font-size: 10px;
    color: #8A8D91;
}

.copyright .meta{
    font-size: 12px;
    color: #808080;
}

.copyright {
    padding: 0;
}

/* Desktop View */

.desktop-view {
    padding: 0 8% 0 12%;
    text-align: left !important;
    width: 100%;
    margin: 0;
    height: 100%;
}

.desktop-view  ul {
    padding: 0;
}

.desktop-view ul li{
    font-size: 12px;
    list-style-type: none;
    color: #8A8D91;
    display: inline-block;
    margin-right: 14px;
}

.desktop-view ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.desktop-view hr {
    margin: 0;
    margin-bottom: 8px;
    max-width: 980px;
}

@media only screen and (min-width: 1280px) {
    main {
        background-color: #f0f2f5;
        padding: 8% 12%;
        height: 96%;
    }

    .fb-message {
        font-size: 27px;
    }

    .desktop-view {
        padding: 0 18%;
    }
    
}